{% extends 'base.html.twig' %}

{% block title %}Articles{% endblock %}

{% block body %}
    <div class="row">
        <h2>
            Articles
        </h2>
    </div>
    <div class="row">
        <table>
            <thead>
              <tr>
                  <th>Title</th>
                  <th>Description</th>
                  <th>Date de création</th>
                  <th>Date de modification</th>
                  <th>Auteur</th>
                  <th>Actions</th>
              </tr>
            </thead>
    
            <tbody>
                <div class="row">
                    {% for label, messages in app.flashes %}
                        {% for message in messages %}
                        <div class="materialert success">
                            <div class="material-icons">check</div>
                                    {{
                                        message
                                    }}
                        </div>
                        {% endfor %}
                    {% endfor %}
                </div>
                {% for article in articles %}
                    <tr>
                        <td>{{article.title}}</td>
                        <td>{{article.content}}</td>                
                        <td>{{article.dateCreated|date("Y-m-d H:i")}}</td>
                        <td>{{article.dateUpdated|date("Y-m-d H:i")}}</td>
                        <td>{{article.author}}</td> 
                        <td>                            
                            <a href="{{path("app_article_remove",{'id':article.id})}}" class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">remove</i></a>    
                        </td>               
                    </tr>
                {% endfor %}
            </tbody>
          </table>
    </div>
{% endblock %}
